@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');

:root{
  --primary :  #f4d04e;
  --white: #fff;
  --black: #000
}

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Figtree', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



